{# src/rj/StreamBundle/Resources/views/Saisons/index.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}News{% endblock %}

{% block sidebar %}
    {{ parent() }}  
{% endblock %}

{% block body %}
    <h2>News</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-5">
                    <h3 class="panel-title">Panel title <span class="label label-default">New</span></h3>
                </div>
                <div class="col-xs-3 pull-right">
                    <p class="date text-right" >pulier le 15/05/2015</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
                    <a href="#" class="thumbnail image-saison">
                        <img src="{{asset('images/got.jpg')}}" alt="image saison episode 1" >
                    </a>
                    <p class="text-justify">Nihil morati post haec militares avidi saepe turbarum adorti sunt Montium primum, qui divertebat in proximo, levi corpore senem atque morbosum, et hirsutis resticulis cruribus eius innexis divaricaturn sine spiramento ullo ad usque praetorium traxere praefecti.</p>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }} 
    <script src="{{asset('js/news.js')}}"></script> 
{% endblock %}